<%- include('partials/header') %>
<div class="container">

<h1>File Details</h1>
<p>Name: <%= file.filename %></p>
<p>Size: <%= file.size %> bytes</p>
<p>Uploaded on: <%= file.createdAt.toLocaleString() %></p>

<a href="<%= file.filepath %>" class="btn btn-primary" target="_blank"
  >Download</a
>

<form
  action="/files/<%= file.id %>?_method=DELETE"
  method="post"
  style="display: inline"
>
  <button type="submit" class="btn btn-danger">Delete File</button>
</form>
</div></div>

<%- include('partials/footer') %>
