<%- include('partials/header') %>

<h1>File Details</h1>
<p>Name: <%= file.filename %></p>
<p>Size: <%= file.size %> bytes</p>
<p>Uploaded on: <%= file.createdAt.toLocaleString() %></p>

<a href="/download/<%= file.id %>" class="btn btn-primary">Download</a>

<%- include('partials/footer') %>
